name: uk_gas_prices
services:
  # --- METADATA DATABASE ---
  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres-db-volume:/var/lib/postgresql/data
    ports:
      - 5432:5432
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
      interval: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - 8081:80
    depends_on:
      - postgres

  # --- S3 COMPATIBLE STORAGE ---
  minio:
    image: minio/minio
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    ports:
      - "9000:9000"
      - "9001:9001"
    command: server /data --console-address ":9001"
    volumes:
      - minio-data:/data

  # --- AIRFLOW 3 COMPONENTS ---
  airflow-common: &airflow-common
    build: .
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres/airflow
      AIRFLOW__CORE__FERNET_KEY: ${FERNET_KEY}
      AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
      # Airflow 3 Auth
      AIRFLOW__CORE__AUTH_MANAGER: 'airflow.providers.fab.auth_manager.fab_auth_manager.FabAuthManager'
      AIRFLOW__API__AUTH_BACKENDS: 'airflow.api.auth.backend.basic_auth,airflow.api.auth.backend.session'
      # Required for Airflow 3
      AIRFLOW__SCHEDULER__STANDALONE_DAG_PROCESSOR: 'True'
    volumes:
      - ./${AIRFLOW_PROJ_DIR:-.}/dags:/opt/airflow/dags
      - ./${AIRFLOW_PROJ_DIR:-.}/logs:/opt/airflow/logs
      - ./${AIRFLOW_PROJ_DIR:-.}/plugins:/opt/airflow/plugins
      - ./${AIRFLOW_PROJ_DIR:-.}/plugins/sql:/opt/airflow/plugins/sql
      - ./${AIRFLOW_PROJ_DIR:-.}/plugins/csv:/opt/airflow/plugins/csv
      - ${AIRFLOW_PROJ_DIR:-.}/requirements.txt:/requirements.txt
    user: "${AIRFLOW_UID}:0"
    depends_on:
      postgres:
        condition: service_healthy

  airflow-webserver:
    <<: *airflow-common
    command: api-server
    ports:
      - 8000:8080
    restart: always

  airflow-scheduler:
    <<: *airflow-common
    command: scheduler
    restart: always

  airflow-dag-processor:
    <<: *airflow-common
    command: dag-processor
    restart: always

  airflow-init:
    <<: *airflow-common
    entrypoint: /bin/bash
    command:
      - -c
      - |
        airflow db migrate
        airflow users create \
          --username "${AIRFLOW_WWW_USER_USERNAME}" \
          --password "${AIRFLOW_WWW_USER_PASSWORD}" \
          --firstname Admin \
          --lastname User \
          --role Admin \
          --email admin@example.com || true

volumes:
  postgres-db-volume:
  minio-data:
# docker compose -p uk_gas_prices down --volumes
# docker compose -p uk_gas_prices up -d